#debug-wrapper {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;

	.debug & {
		display: block;
	}
}

.inner-grid-wrapper {
	position: absolute;
	top: 0;
	left: $grid-outer-border;
	right: $grid-outer-border;
	width: $grid-inner-area;
	height: 100%;
	border-left: $debug-border;
}

.grid-line {
	width: 100% / $grid-count;
	height: 100%;
	float: left;
	border-right: $debug-border;
}