@mixin debug-small-info {
	@include get-font-rem( 'font-size', $debug-span-marker-size );
	@include get-rem( 'line-height', $debug-span-marker-size );
	@include get-rem( 'width', $debug-span-marker-size );
	@include get-rem( 'height', $debug-span-marker-size );

	position   : absolute;
	text-align : center;
	font-family: Arial;
	font-weight: bold;
	font-style : normal;
	color      : $debug-font-color;
}
@mixin sans-serif-font {
	font-family   : Helvetica, Arial, sans-serif;
	text-transform: none;
}
@mixin pawel-scroll-bar {
	overflow-x: hidden;
	overflow-y: scroll;

	&::-webkit-scrollbar {
		-webkit-appearance: none;
	}

	&::-webkit-scrollbar:vertical {
		width: 100vw * ( 1 - $viewport-width );
	}

	&::-webkit-scrollbar-thumb {
		background-color: $font-color;
		border-left     : .3vw solid $background-color;
		border-right    : .3vw solid $background-color;
	}

	&::-webkit-scrollbar-track {
		background-color: $background-color;
	}
}
