@mixin debug-small-info {
	@include get-font-rem( 'font-size', $debug-span-marker-size );
	@include get-rem( 'line-height', $debug-span-marker-size );
	@include get-rem( 'width', $debug-span-marker-size );
	@include get-rem( 'height', $debug-span-marker-size );

	position   : absolute;
	text-align : center;
	font-family: Arial;
	font-weight: bold;
	font-style : normal;
	color      : $debug-font-color;
}
