<section id="about" class="menu about-menu">
	<h1>About</h1>
	<p>Gay pornography is the representation of sexual activity between males. Its primary goal is sexual arousal in its audience. Softcore gay pornography also exists; it at one time constituted the genre, and may be produced as beefcake pornography for heterosexual female and homosexual male consumption.</p>

	<p>Although pornography has usually focused on heterosexuality, due to the prevalence of the heterosexual orientation, explicit gay material has a long history as well, which reaches back to Greek antiquity, if not to prehistory. Every medium has been used to represent sexual acts between men. However, gay pornography in the modern world is mostly concentrated in the making of home videos (including DVDs), cable broadcast and emerging video on demand and wireless markets, as well as images and movies for viewing on the Internet.</p>
</section>
