.chapter {
	position: relative;
	opacity: 0;
	padding-left: $grid-outer-border;
	padding-right: $grid-outer-border;
	@include getAiRem( "padding-bottom", $line-height-ai-small-rel );
	overflow: auto;
	width: 100%;
	bottom: 0;
	background-color: $background-color;
	@include transition( bottom 2s );
	overflow-x: hidden;

	.ready & {
		opacity: 1;
	}

	.grid & {
		background-color: transparent;
	}

	body:not(.noAnimation) & {
		&.done {
			position: fixed;
			bottom: 100%;
			z-index: 3000;
			box-shadow: 0px 0px 10px rgba( 0, 0, 0, .5 );
		}

		&.ns {
			padding-bottom: 0;
		}
	}
	* {
		body:not(.noAnimation) &.ns {
			height: 0;
			opacity: 0;
			overflow: hidden;
			margin-top: 0 !important;
		}
	}
}