#main-content {
	@include transition( all 0.5s );
	background-color: $background-color;
	.isPaused & {
		@include filter( blur( 3px ) brightness(2) contrast(0.5)  );
	}
}

#chapters-wrapper {
	position: relative;
	z-index: 1000;
	margin-left: $grid-outer-border;
	margin-right: $grid-outer-border;
	margin-bottom: 40vh;
}