.chapter {
	@include transition( bottom 2s );
	position        : static;
	opacity         : 0;
	padding-left    : $grid-outer-border;
	padding-right   : $grid-outer-border;
	@include get-ai-rem( 'padding-bottom', $line-height-ai-small-rel );
	padding-top     : $grid-outer-border * .8;
	overflow        : hidden;
	width           : 100%;
	bottom          : 0;
	background-color: $background-color;
	background-image: $background-url;
	@if ( $background-fixed == true ) {
		background-attachment: fixed;
	}

	.ready & {
		opacity: 1;
	}

	.grid & {
		background-color: transparent;
	}

	.noAnimation & {
		box-shadow: 0 0 10px $shadow-color;
	}

	&.s {
		min-height: 100vh;
		display   : block;
	}

	body:not(.noAnimation) & {
		&.done {
			position  : fixed;
			bottom    : 100%;
			z-index   : 3000;
			box-shadow: 0 0 10px $shadow-color;
		}

		&.ns {
			padding-bottom: 0;
			display       : none;
		}
	}

	* {
		body:not(.noAnimation) &.ns:not(header) {
			height    : 0;
			opacity   : 0;
			overflow  : hidden;
			margin-top: 0 !important;
		}
	}
}
