.outer-cursor {
	@include getAiRem( "height", 1 );
	width: $cursor-width;
	background-color: #000;
	position: absolute;
	z-index: 2000; 
	top: -10000%;

	animation-timing-function: ease-in-out;

	&.idle {
		@include animation( blinkCursor 2s infinite );
	}

	.noAnimation & {
		display: none;
	}

}

@keyframes blinkCursor {
	0%   	{ opacity: 1; }
    50%  	{ opacity: 0; }
    100% 	{ opacity: 1; }
}
