.outer-cursor {
	@include getAiRem( "height", 1 );
	width: 2px;
	background-color: #000;
	position: absolute;

	&.idle {
		@include animation( blinkCursor 1s infinite );
	}
	
}

@keyframes blinkCursor {
	0%   	{ opacity: 1; }
    50%  	{ opacity: 0; }
    100% 	{ opacity: 1; }
}