.menu {
	position   : fixed;
	top        : 0;
	left       : -$menu-width;
	height     : 100%;
	background : $background-color;
	z-index    : 10000;
	width      : $menu-width;
	@include transition( left 1s );
	padding    : $menu-icon-left $menu-icon-bottom;
	@include sans-serif-font;
	font-weight: bold;
	overflow   : scroll;

	h1 {
		font-weight: bold;

		&::after {
			content: '-';
			display: block;
		}
	}

	li {
		list-style: none;
	}

	&.show {
		left: 0;
	}
}

.chapters-menu {
	left : auto;
	right: -$menu-width;
	@include transition( right 1s );

	&.show {
		left : auto;
		right: 0;
	}
}

.menuIcon {
	bottom         : $menu-icon-bottom;
	z-index        : 10000;
	width          : $menu-icon-size;
	height         : $menu-icon-size;
	cursor         : pointer;
	position       : fixed;
	@include transition( margin 1s );
	background-size: 100%;
}

.icon-about {
	left            : $menu-icon-left;
	background-image: url('../imgs/icons/about.png');

	[data-menu='about'] & {
		margin-left: $menu-width;
	}
}

.icon-chapters {
	right           : $menu-icon-left;
	background-image: url('../imgs/icons/hashtag.png');

	[data-menu='chapters'] & {
		margin-right: $menu-width;
	}
}
