.menu {
	position    : fixed;
	top         : 0;
	left        : -$menu-width;
	height      : 100%;
	background  : $background-color;
	z-index     : 10000;
	width       : $menu-width;
	@include transition( left 1s );
	padding     : $menu-icon-bottom $menu-icon-left;
	@include sans-serif-font;
	font-weight : bold;
	overflow    : scroll;
	border-right: 2px solid $font-color;
	@include pawel-scroll-bar;

	h1 {
		font-weight: bold;

		&::after {
			content: '-';
			display: block;
		}
	}

	p {
		@include get-rem( 'padding-bottom', 1 );
	}

	li {
		list-style: none;
	}

	&.show {
		left: 0;
	}
}

.chapters-menu {
	left        : auto;
	width       : $chapters-menu-width;
	right       : -$chapters-menu-width;
	@include transition( right 1s );
	border-right: 0;
	border-left : 2px solid $font-color;

	&.show {
		left : auto;
		right: 0;
	}

	a {
		display: block;
		@include transition( padding-left .5s );

		&:hover {
			@include transition( padding-left .1s );
			padding-left: .5em;
		}
	}
}

.menuIcon {
	bottom         : $menu-icon-bottom;
	z-index        : 10000;
	width          : $menu-icon-size;
	height         : $menu-icon-size;
	cursor         : pointer;
	position       : fixed;
	@include transition( margin 1s );
	background-size: 100%;

	.noMenu & {
		display: none;
	}
}

.icon-about {
	left            : $menu-icon-left;
	background-image: url('../imgs/icons/about.png');

	[data-menu='about'] & {
		margin-left: $menu-width - 2.5em;
	}
}

.icon-chapters {
	right           : $menu-icon-left;
	background-image: url('../imgs/icons/hashtag.png');

	[data-menu='chapters'] & {
		margin-right: $chapters-menu-width - 2.5em;
	}
}

.icon-playpause {
	margin          : auto;
	left            : 0;
	right           : 0;
	background-image: url('../imgs/icons/pause.png');

	.isPaused & {
		background-image: url('../imgs/icons/play.png');
	}
}

#menuTitle {
	position        : fixed;
	top             : $menu-title-top;
	left            : 0;
	right           : 0;
	margin          : auto;
	width           : 12em;
	z-index         : 10000;
	background-color: $background-color;
	border          : 2px solid $font-color;
	text-align      : center;
	@include sans-serif-font;
	font-weight     : bold;
	@include transition( width 1s );
	overflow        : hidden;

	h1 {
		line-height: 1.6em;
		font-weight: bold;
		cursor     : help;
	}

	p {
		@include get-rem( 'padding-bottom', 1 );
	}

	&.show {
		width: 24em;

		h1 {
			cursor: pointer;
		}
	}
}

.menuTitleContent {
	width  : 24em;
	margin : auto;
	padding: .6em;
}
