.chapter > figure {
	position: absolute;
	@include get-ai-rem( 'margin-bottom', $line-height-ai-small-rel );
	overflow: hidden;

	> * {
		width: 100%;
		@include transform( scale( 1 ) );
		@include transition( 2s all ease-out );
	}

	body:not(.noAnimation) &.ns {
		> * {
			@include transform( scale( 0 ) );
		}
	}

	& > iframe,
	& > video {
		width: 100%;
	}

	// image width
	$i      : 0;
	@while ( $i <= $grid-count ) {
		&.w#{$i} {
			width: ( $grid-inner-area / $grid-count ) * $i;
		}

		$i: $i + 1;
	}

	// image height
	$i      : 0;
	@while ( $i < 10 ) {
		&.h#{$i} {
			@include get-ai-rem( 'height', $i );
		}

		$i: $i + 1;
	}
}
