.chapter {
		> figure {
		position: absolute;

		> img {
			width: 100%;
			@include transform( scale( 1 ) );
			@include transition( 1s all ease-out );
		}

		body:not(.noAnimation) &.ns {
			> img {
				@include transform( scale( 0 ) );
			}
		}

		> iframe {
			width: 100%;
			height: 100%;
		}
	}

	// image width
	$i: 0;
	@while ( $i < $grid-count ) {
		.w#{$i} {
			width: ( 100% / $grid-count ) * $i;
		}

		$i: $i + 1;
	} 

	// image height
	$i: 0;
	@while ( $i < 10 ) {
		.h#{$i} {
			@include getAiRem( "height", $i );
		}

		$i: $i + 1;
	} 
}