.chapter {
	header {
		position  : fixed;
		height    : 100%;
		width     : 100%;
		left      : 0;
		top       : 0;
		background: $chapter-background-color;
		color     : $chapter-font-color;
		text-align: center;
		@include display-flex;
		@include justify-content( center );
		@include align-items( center );

		&.done {
			opacity: 0;
			@include transition( opacity 2s );
		}

		.noAnimation & {
			opacity : 1;
			position: static;
			height  : 50vh;

			h1 {
				padding-bottom: .5em;
			}
		}

		h1 {
			padding-bottom: 1em;
		}
	}
}
