.chapter {
	%margin-top {
		.superGrid & {
			&::before {
				@include debug-small-info;

				content           : '1';

				// center
				margin            : auto;
				left              : 0;
				right             : 0;

				border-style      : solid;
				border-color      : transparent;
				border-left-width : 25vw;
				border-right-width: 25vw;

				border-bottom     : 5px solid $debug-margin-marker-color;
			}
		}
	}

	// MARGIN TOP in form of full rows
	$i: 1;
	@mixin get-margin-top( $i, $name: $i ) {
		.m#{$name} {
			@extend %margin-top;
			@include get-ai-rem( 'margin-top', $i );

			.superGrid & {
				&::before {
					@include get-ai-rem( 'height', $i );
					@include get-ai-rem( 'line-height', $i );
					@include get-ai-rem( 'border-bottom-width', $i );
					@include get-ai-rem( 'top', -$i );
					content: '#{$i}';
				}
			}
		}
	}
	@include get-margin-top( $font-size-ai-small-rel, '-small' );
	@while ( $i <= 15 ) {
		@include get-margin-top( $i );
		$i: $i + 1;
	}

	// LEFT MARGIN grid tab stop positions
	$i: 0;
	@while ( $i < $grid-count ) {
		.t#{$i} {
			left: ( 100% / $grid-count ) * $i;

			// Numbers for debug tabstops
			.superGrid & {
				&::after {
					content: '#{$i}';
				}
			}
		}

		$i: $i + 1;
	}

	// RIGHT MARGIN right grid tab stop positions
	$i: 0;
	@while ( $i <= $grid-count ) {
		.tr#{$i} {
			@extend %tr-tabstop;
			width: ( 100% / $grid-count ) * $i;

			// Numbers for debug tabstops
			.superGrid & {
				&::after {
					content: '#{$i}';
				}
			}
		}

		$i: $i + 1;
	}
}
